<div id="footer">
		<div class="wrapper">
			<div class="address">
				125319, <b>г. Москва</b><br>
				ул. Черняховского,<br>
				дом 5, корпус 1.
			</div>
			<div class="phone">
				+7 (495) 749 29 59<br>
				<a>moscow@dark-slide.ru</a>
			</div>
			<div class="phone" style="text-align:right;">
				<%= image_tag("img/R-Media.png") %>
			</div>
			<div class="address">
				236016, <b>г. Калининград</b><br>
				ул. Литовский Вал, 38,<br>
				подъезд 14, офис 203.
			</div>
			<div class="phone">
				+7 (4012) 90 20 12
				<a>kaliningrad@dark-slide.ru</a>
			</div>
			<div class="clear"></div>
		</div>
</div>