<div id="center">
	<div class="page-wrapper">
		<div class="page">
			<div class="wrapper">
				<%= raw @page.template.temp_content %>
				<div class="page-content">
					<%= render 'shared/menu' %>
					<div class="common">
					<% if @page.slug == "index" %>
						<%= render 'news_items/list' %>
					<% else %>
						<%= raw @page.content %>
					<% end %>
					</div>
						<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>