<div id="center">
	<div class="page-wrapper">
		<div class="page">
			<div class="wrapper">
				<%= raw @page.template.temp_content %>
				<div class="page-content">
					<%= render 'shared/menu' %>
					<div class="common">
					<% if @page.slug == "index" || @page.slug == "news_items"  %>
						<%= render 'news_items/list' %>
					<% else %>
						<%= raw @page.content %>
					<% end %>
					</div>
						<div class="clear"></div>
						<% if @page.slug == "technical" %>
							<script>
								$('a.gallery').colorbox(
									{ arrowKey: true,
										rel:'group1',
										transition:"fade",
										speed: 200
									}
								);
							</script>
						<% end %>
				</div>
			</div>
		</div>
	</div>
</div>