  <li class="span3">
      <h4> <%= link_to news_item.title, news_item_path(news_item) %> </h4>
      <span> <%= news_item.published_at %> </span>
      <p class="desc_content"> <%= news_item.description %> </p>
  </li>
